/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
	font-family: "Proxima Nova Regular","Helvetica Neue",Arial,Helvetica,sans-serif;
	font-weight: 400;
	backround-color: #324C9F;
	overflow-x:hidden;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background: rgb(29,32,41);
	background: -moz-linear-gradient(top,  rgba(29,32,41,1) 0%, rgba(55,62,81,1) 3%, rgba(50,76,159,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(29,32,41,1)), color-stop(3%,rgba(55,62,81,1)), color-stop(100%,rgba(50,76,159,1)));
	background: -webkit-linear-gradient(top,  rgba(29,32,41,1) 0%,rgba(55,62,81,1) 3%,rgba(50,76,159,1) 100%);
	background: -o-linear-gradient(top,  rgba(29,32,41,1) 0%,rgba(55,62,81,1) 3%,rgba(50,76,159,1) 100%);
	background: -ms-linear-gradient(top,  rgba(29,32,41,1) 0%,rgba(55,62,81,1) 3%,rgba(50,76,159,1) 100%);
	background: linear-gradient(to bottom,  rgba(29,32,41,1) 0%,rgba(55,62,81,1) 3%,rgba(50,76,159,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2029', endColorstr='#324c9f',GradientType=0 );
	background-position: 0px 44px;
	background-repeat: repeat-x;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
}

header {
	background: rgb(80,109,199);
	background: -moz-linear-gradient(top,  rgba(80,109,199,1) 0%, rgba(55,62,82,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(80,109,199,1)), color-stop(100%,rgba(55,62,82,1)));
	background: -webkit-linear-gradient(top,  rgba(80,109,199,1) 0%,rgba(55,62,82,1) 100%);
	background: -o-linear-gradient(top,  rgba(80,109,199,1) 0%,rgba(55,62,82,1) 100%);
	background: -ms-linear-gradient(top,  rgba(80,109,199,1) 0%,rgba(55,62,82,1) 100%);
	background: linear-gradient(to bottom,  rgba(80,109,199,1) 0%,rgba(55,62,82,1) 100%);
}

header img {
	display: block;
	float: left;
}

.slidemenu_btn {
	margin-top:3px;
	margin-left:3px;
}


header span {
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	line-height: 44px;
	margin-left: 7px;
	text-shadow: 1px 2px 0px #28324D;
}

#wrapper {
	padding-left:15px;
	padding-right:15px;
}

.content {
	position: relative;
	float: left;
	clear: both;
	width: 100%;
	top: 47px;
	color: #FFF;
}

.btn-header {
	position: relative;
	float: right;
	margin-top:4.5px;
	margin-right:6px;
	color: #DFE2EE !important;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	background: rgb(71,92,158);
	background: -moz-linear-gradient(top,  rgba(71,92,158,1) 0%, rgba(37,41,54,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,92,158,1)), color-stop(100%,rgba(37,41,54,1)));
	background: -webkit-linear-gradient(top,  rgba(71,92,158,1) 0%,rgba(37,41,54,1) 100%);
	background: -o-linear-gradient(top,  rgba(71,92,158,1) 0%,rgba(37,41,54,1) 100%);
	background: -ms-linear-gradient(top,  rgba(71,92,158,1) 0%,rgba(37,41,54,1) 100%);
	background: linear-gradient(to bottom,  rgba(71,92,158,1) 0%,rgba(37,41,54,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#475c9e', endColorstr='#252936',GradientType=0 );
	width: 53px;
	height: 32px;
	line-height: 32px;
	text-align: center;
}

/* Slide Menu */

.slidemenu {
	position: absolute;
	top: 0px;
	left: -160px;
	width: 160px;
	height: 100%;
	background-color: #212D50;
	-webkit-box-shadow: 3px 0px 5px -2px #32394A;
	box-shadow: 3px 0px 5px -2px #32394A;
	z-index: 2147483647;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

.slidemenu h3{
	font-size:12px;
	color:#D0D6E6;
	text-shadow: 0 1px 0 #272D39;
	margin:0;
	padding:4px 0 4px 10px;
	background: rgb(68,87,144);
	background: -moz-linear-gradient(top,  rgba(68,87,144,1) 0%, rgba(56,65,88,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,87,144,1)), color-stop(100%,rgba(56,65,88,1)));
	background: -webkit-linear-gradient(top,  rgba(68,87,144,1) 0%,rgba(56,65,88,1) 100%);
	background: -o-linear-gradient(top,  rgba(68,87,144,1) 0%,rgba(56,65,88,1) 100%);
	background: -ms-linear-gradient(top,  rgba(68,87,144,1) 0%,rgba(56,65,88,1) 100%);
	background: linear-gradient(to bottom,  rgba(68,87,144,1) 0%,rgba(56,65,88,1) 100%);
	border-top:solid #4E5567 1px;
	border-bottom:solid #2F3955 1px;
}

.slidemenu ul {
	margin: 0;
	padding: 0;
	width: inherit;
}

.slidemenu ul li {
	list-style-type: none;
	margin: 0px 0;
	overflow: none;
}

.slidemenu ul li a:link, .slidemenu ul li a:visited {
	border-top: 1px #2F3955 solid;
	border-bottom: 1px #191D27 solid;
	color: #FBFBFB;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	width: 147px;
	display: block;
	padding: 10px 0px 10px 10px;
	text-shadow: 0px 1px 1px #141C32;
}

.slidemenu ul li img {
	margin-right:8px;
}

.slidemenu ul li a:hover, .slidemenu ul li a:active {
	background-color: #32394A;
}
		
.slidemenu_btn .ui-icon-shadow {
	-moz-box-shadow: 0 0px 0 rgba(255,255,255,0);
	-webkit-box-shadow: 0 0px 0 rgba(255,255,255,0);
	box-shadow: 0 0px 0 rgba(255,255,255,0);
}

.slidemenu_btn .ui-btn-inner {
	border-top: 0px;
}
.slidemenu_btn .ui-icon {
	margin: 4px 1px 2px 2px !important;
	width: 25px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.slidemenu_btn .ui-icon, .ui-icon-searchfield::after {
	background: none;
}

.slidemenu_btn.ui-btn-icon-notext {
	width: 30px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
